@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

body{
    font-family: "Winky Sans", sans-serif;
    background-color: #1f1f1f;
    overflow-x: hidden;
    overflow-y: auto;
}